@use "../../variables.scss" as *;

.card {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 0.5rem;
  background-color: $color-light;
  margin: 2rem auto;
  padding: 1em;
  border-radius: 8px;
  height: 40rem;
  width: 20rem;

  &__heading {
    font-size: 2rem;
    font-family: "Oxygen", sans-serif;
  }

  &__headers,
  &__secondaryInfo {
    grid-column: 1 / span2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-block: $color-dark solid;
    margin-right: 2rem;
  }

  &__tagline {
    font-family: "Lugrasimo", cursive;
  }

  &__headers p {
    font-weight: bold;
    align-self: flex-end;
  }

  &__image-wrapper,
  &__detail {
    grid-row: 3 / 11;
    // border-left: $color-dark solid;
  }

  &__image-wrapper {
    height: auto;
    width: 8rem;
    padding: 0.5em;
    // border: $color-dark solid;
  }

  // if beer is keg only, keg class added to card on component load
  // fix stretch of keg image

  &__image-wrapper:has(.keg) {
    height: 25rem;
    width: 9rem;
    padding: 0;
    justify-self: flex-start;
  }

  &__image {
    height: 100%;
    width: 100%;
  }
  &__detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
    padding: 1em 2em 1em 0.5em;
    justify-self: flex-end;
    align-self: stretch;

    .card__link-wrapper {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;

      .card__link--brewing,
      .card__link--food {
        border-radius: 50%;
        border: $color-dark solid;
        padding: 0.1em;
      }

      .card__link--food {
        background-color: $color-accent;
      }
      .card__link--brewing {
        background-color: $color-blue;
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .card {
    &__image-wrapper {
      width: clamp(100%, 15vw, 15rem);
      margin: 1rem auto;
    }
    &__image-wrapper:not(:has(.keg)) {
      width: clamp(80%, 8vw, 20rem);
    }
  }
}

@media screen and (min-width: 768px) {
}
