// colours

$color-dark: #3c3c3b;
$color-light: #ebebd3;
$color-accent: #fa198b;
$color-blue: #1b98e0;
$color-white: #ffffff;

// fonts

@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Rufina:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap");

// font-family: 'Oxygen', sans-serif;
// font-family: 'Rufina', serif;
//font-family: 'Lugrasimo', cursive;
